node_modules

# Output
/.svelte-kit
/build
/dist-mobile

# Android
/android/.gradle
/android/.idea
/android/build
/android/app/build
/android/app/src/main/assets
/android/local.properties
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db

# Local environment
.env
.env.*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
