# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb
worker-configuration.d.ts
mobile/.svelte-kit/
mobile/static/

# Miscellaneous
/static/
/drizzle/
/android/**/build/
/android/app/src/main/assets/
